
<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-title>blog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">blog</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header id="nav">
<ul>
   <li> <a href="../../app/home/home.page.html">Perfil</a></li>
   <li> <a href="../../app/home/home.page.html">Mas noticias</a></li>
   <li> <a href="">Salir</a></li>
</ul>

    <ion-button >Crear nuevo blog +</ion-button>
    </ion-header>
    
    <div class="tittle">
<h1>Las waifus mas top del Anime 2024</h1>
    </div>

    <div>
      <img src="../../assets/waifus.jpg" alt="">
    </div>
<br>
<br>
    <div class="1waifu">

      <h2>1. Kotonoha Katsura del anime School Days</h2>

      <img src="../../assets/katsura.jpeg" alt="">
      <p>Normalmente Kotonoha es educada, amable y gentil; aunque un poco tímida y reservada. Según su hermana Kokoro es algo anticuada.

        Debido a su figura voluptuosa, varios chicos muestran interés por ella y varias chicas la detestan y la ponen en el blanco de burlas. Según la novela visual, ya le molestaban desde la primaria, ya que estaba desarrollada para ese entonces. Le tiene miedo a los hombres, aun si es que le tocan la mano. Debido a esto, ella y Makoto tienen muchos momentos incómodos en su relación, ya que este quiere tener más contacto físico con ella y ella no quiere. Sin embargo, se llega a convencer de que necesita más intimidad con el por el bien de su relación. Después de que este comienza a engañarla y es traicionada por Sekai, ella entra en negación y trata de buscar excusas para esto. Incluso después de que ambos empiezan a salir oficialmente, Kotonoha cae en un quiebre emocional y trata de buscarlo para que la ame otra vez hasta que su estabilidad mental no puede más y es capaz incluso de eliminar a quien sea que trate de quitarle a Makoto.
        
        Sin embargo, también tiene su lado manipulador, como se ve en algunos finales. Por ejemplo, en un final en el que Makoto elige a Sekai, Kotonoha manipula la situación, se toma fotos comprometedoras con Makoto para obligar a Sekai a terminar con él. En Cross Days, está completamente paranoica e insegura de su noviazgo, dispuesta a eliminar a sus rivales.
        
        Irónicamente, en la novela visual, cuando Makoto y Kotonoha ven una película de terror, ella no parece tener miedo, pues según ella le gustan esas cosas.</p>
    </div>


    <div class="2waifu">
<h2>2. Zero Two de Darling in the Franxx </h2>
<br>
<br>
<img src="../../assets/zero.jpg" alt="" width="400px" height="400px">
<p>Fue diseñada como el personaje e ícono más destacado de la serie. Zero Two es una forma de vida creada artificialmente que aspira a convertirse en un ser completamente humana y una piloto de élite con una reputación infame como la «asesina de socios». Es bien conocida por dirigirse a Hiro, el protagonista, con el término epónimo «darling».

  Zero Two es considerada uno de los personajes más populares de Darling in the Franxx y su personalidad ha sido bien recibida tanto por los fanáticos como por los críticos, y estos últimos suelen citarla como uno de los mejores aspectos de la serie.</p>
    </div>
<br>
<br>
<div class="3waifu">
<img src="../../assets/nezuko.jpeg" alt="">
<br>
<p>Nezuko era la hija mayor del núcleo familiar de los Kamado, el cual estaba compuesto por sus padres, Kie, Tanjuro y sus hermanos Tanjiro su hermano mayor y sus hermanos menores, Rokuta, Shigeru, Takeo y Hanako. Todos ellos vivían en la montaña durante la era Taisho.</p>
</div>
</ion-content>
